<div class="hui-footer">
        <div class="hui-container">
          本网站由JunneyHu提供技术支持
        </div>
    </div>
  </div>
    <script src="/jquery/jquery.js"></script>
    <script src="/layui/layui.js"></script>
</body>

</html>