<%include header.ejs%>
  <div class="hui-container">
    <div class="service-bg">
      <h1>常见问题</h1>
      <ul>
        <% for(var i in list){ %>
          <li>
            <h3>问：托管的装修款什么时候支付给装修公司？</h3>
            <h5>
              1.背景说明
              <br /> 在传统装修行业，装修工地还未开工，装企一般要求业主支付50%以上装修款，大部分情况下，工地还未完工时，业主便已支付全部装修款；在此情形下，容易产生工地出现问题时， 装企处理滞后，服务怠慢的情况；如遇装企携款跑路，业主资金更无保障。土巴兔装修网（以下简称“平台”）为解决上述问题，更充分的给予业主资金安全保障，
              特推出“先装修后支付”保障服务，即装企现可承诺并点亮平台“先装修后支付”服务，让业主和装企通过第三方托管平台进行安全交易。
              <br /> 2.签约方式
              <br /> 业主与具有“先装修后支付”标签的装企签约时，可要求装企通过平台网站发起《土巴兔服务合同》签约，就装修款托管、支付、争议判断等进行详细约定；同时，平台也将作为合同一方参与签约。
              <br /> 3.“先装修后支付”资金托管和支付流程
              <br /> 对比业主与装企双方交易方式，“先装修后支付”资金托管流程除了改变了装企的收款方式，还帮助业主加大了尾款的比重，使交易更安全、施工环节更有话语权。
              <br />
            </h5>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
  <%include footer.ejs%>